name = "cert-generator-worker"
main = "src/index.ts"
compatibility_date = "2025-11-25"

# --- ADD THIS BLOCK ---
[observability]
logs = { enabled = true, head_sampling_rate = 1, invocation_logs = true, persist = true }
# ----------------------

# D1 Database
[[d1_databases]]
binding = "CERT_DB"
database_name = "cert_db"
database_id = "cbd1757d-4ccd-40ad-849e-cb09b8279569"

# KV Namespace
[[kv_namespaces]]
binding = "KV"
id = "10d6d6aa52f9498081eb3d455f5387c8"
